---
import Card from "../../components/Card.astro";
import "../../styles/global.css";
import hcVillaImage from "../../images/hc-front.jpeg";
import hcPoolImage from "../../images/hc-pool.jpeg";
import ccVillaImage from "../../images/cc-front.jpeg";
import ccPoolImage from "../../images/cc-pool.jpeg";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "de" } }];
}
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>PatricksVilla</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>
  <body class="bg-gray-50 mx-8 pb-8">
    <nav class="pt-8 pb-8 flex justify-center">
      <ul class="flex space-x-4 justify-center items-center">
        <li>
          <a
            href={`/${lang}/availability`}
            class="px-5 py-2 rounded-full border-2 border-primary text-primary font-semibold hover:bg-primary hover:text-white transition-colors"
          >
            {t("nav.availability")}
          </a>
        </li>
        <li>
          <a
            href={`/${lang}/contact`}
            class="px-5 py-2 rounded-full border-2 border-primary text-primary font-semibold hover:bg-primary hover:text-white transition-colors"
          >
            {t("nav.contact")}
          </a>
        </li>
        <li>
          <a
            href={`/${lang}/guestbook`}
            class="px-5 py-2 rounded-full border-2 border-primary text-primary font-semibold hover:bg-primary hover:text-white transition-colors"
          >
            {t("nav.guestbook")}
          </a>
        </li>
        <li>
          <a
            href={`/${lang === "en" ? "de" : "en"}`}
            class="px-5 py-2 rounded-full border-2 border-primary text-primary font-semibold hover:bg-primary hover:text-white"
            aria-label=`${lang === "en" ? "Switch to German" : "Switch to English"}`
          >
            {lang === "en" ? "🇩🇪" : "🇺🇸"}
          </a>
        </li>
      </ul>
    </nav>
  </body>
  <header class="mb-8 text-center">
    <h1 class="text-4xl md:text-6xl font-bold text-gray-900 mb-2">
      {t("nav.title")}
      <span class="text-primary">PatricksVilla</span>
    </h1>
    <p>{t("nav.subtitle")}</p>
  </header>
  <div class="flex flex-col items-center">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-250">
      <Card
        topImg={hcVillaImage}
        bottomImg={hcPoolImage}
        title="Haines City (Orlando)"
        icons={[
          { icon: "person", label: t("home.hc.sleeps") },
          { icon: "bed", label: t("home.hc.bedrooms") },
          { icon: "shower", label: t("home.hc.bathrooms") },
          { icon: "pool", label: t("home.hc.pool") },
        ]}
        bullets={[
          t("home.hc.description.1"),
          t("home.hc.description.2"),
          t("home.hc.description.3"),
        ]}
        buttonUrl=`${lang}/haines-city/villa`
      />
      <Card
        topImg={ccVillaImage}
        bottomImg={ccPoolImage}
        title="Cape Coral (Fort Myers)"
        icons={[
          { icon: "person", label: t("home.cc.sleeps") },
          { icon: "bed", label: t("home.cc.bedrooms") },
          { icon: "shower", label: t("home.cc.bathrooms") },
          { icon: "pool", label: t("home.cc.pool") },
        ]}
        bullets={[
          t("home.cc.description.1"),
          t("home.cc.description.2"),
          t("home.cc.description.3"),
        ]}
        buttonUrl=`${lang}/cape-coral/villa`
      />
    </div>
  </div>
</html>
