---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import "../styles/global.css";

const {
  topImg,
  bottomImg,
  title,
  icons = [],
  bullets = [],
  buttonUrl = "#",
} = Astro.props;
---

<a
  href={buttonUrl}
  class="bg-white rounded-[8px] shadow-lg overflow-hidden transition-transform duration-200 hover:scale-105 group"
>
  <Image src={topImg} alt={title} class="w-full h-70 object-cover" />
  <Image src={bottomImg} alt={title} class="w-full h-70 object-cover mt-0.5" />
  <div class="p-6 flex flex-col flex-1">
    <h2 class="text-3xl font-bold mb-4 group-hover:underline">{title}</h2>
    <div class="grid grid-cols-2 gap-4 mb-6">
      {
        icons.map(({ icon, label }) => (
          <div class="flex items-center space-x-2">
            <Icon name={icon} class="flex items-center space-x-2" />
            <span class="text-sm">{label}</span>
          </div>
        ))
      }
    </div>
    <ul class="list-disc list-inside text-gray-700 mb-8 space-y-1">
      {bullets.map((bullet) => <li>{bullet}</li>)}
    </ul>
  </div>
</a>
